# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
Vis_Technieken_Week_3.VC.VC.opendb
Vis_Technieken_Week_3.VC.db
Debug/
Release/
Vis_Technieken_Week_2.VC.db
